Repository BHC-IT/dosimex_site, changes with the labels that .github/labeler.yml gives for each.
All labels: test, ts scope, actions, archi

fix(): small design code
  src/Components/OpinionHome.tsx
  src/Components/PartnersCarousel.tsx
  src/Components/SquareGrid.tsx
  src/Hooks/useIsMobile.ts
  src/hoc/withIsMobile.tsx
  src/lang/debug.ts
  src/lang/en.ts
  src/lang/fr.ts
  src/lang/interface.ts
  src/pages/Software.tsx
  src/pages/Training.tsx
  src/pages/Videos.tsx
  src/pages/index.tsx
  src/pages/main
  src/pages/main.c
Labels: ts scope

fix(): video link on homepage
  src/lang/en.ts
  src/lang/fr.ts
  src/pages/main
  src/pages/main.c
Labels: ts scope

feat(): traduction
  src/lang/en.ts
  src/lang/fr.ts
  src/lang/interface.ts
  src/pages/Software.tsx
  src/pages/index.tsx
Labels: ts scope

fix(): debug trad
  src/lang/debug.ts
Labels: ts scope

added Aspect public folder
  public/Aspect/Cours MécaQ.pdf
  public/Aspect/Expérience Alain Aspect_2022e.xls
  public/Aspect/inegalites_Bell.pdf
Labels: none

rename
  public/Aspect/Cours_MécaQ.pdf
  public/Aspect/Expérience_Alain_Aspect_2022e.xls
Labels: none

feat: update
  .direnv/bin/nix-direnv-reload
  .direnv/nix-profile-.5213.b94a96839afc
  .direnv/nix-profile-.5213.b94a96839afc.rc
  .envrc
  default.nix
  next.config.js
  package-lock.json
  package.json
  src/Components/HeroBannerCarousel.tsx
  src/lang/en.ts
  src/lang/fr.ts
Labels: ts scope, archi

feat: update
  package.json
Labels: archi

fix: gitignore
  .gitignore
Labels: archi

patch
  .direnv/bin/nix-direnv-reload
  .direnv/nix-profile-.5213.b94a96839afc
  .direnv/nix-profile-.5213.b94a96839afc.rc
  src/lang/en.ts
  src/lang/fr.ts
  src/lang/interface.ts
  src/pages/Contact.tsx
  src/pages/Product.tsx
Labels: ts scope

patch types
  package.json
  src/lang/debug.ts
  src/pages/Contact.tsx
Labels: ts scope, archi

fix: contact form
  src/Components/ContactForm.tsx
  src/lang/debug.ts
  src/lang/en.ts
  src/lang/fr.ts
  src/lang/interface.ts
  src/pages/Contact.tsx
  src/pages/Product.tsx
Labels: ts scope

Fix name on contact form
  src/lang/fr.ts
Labels: ts scope

chore: import
  package.json
  pnpm-lock.yaml
Labels: archi

feat: added tests, updated typescript
  .github/workflows/doc.yml
  .github/workflows/semVerRelease.yml
  .github/workflows/test.yml
  .github/workflows/tslint.yml
  TESTING.md
  TEST_SUMMARY.md
  package.json
  pnpm-lock.yaml
  src/Components/ContactForm.tsx
  src/Components/__tests__/Button.test.tsx
  src/Components/__tests__/Input.test.tsx
  src/Hooks/__tests__/useIsMobile.test.ts
  src/Hooks/__tests__/useText.test.ts
  src/pages/Software.tsx
  src/pages/api/login.ts
  src/pages/articles/index.tsx
  src/styled.d.ts
  src/test/__tests__/integration.test.tsx
  src/test/__tests__/setup.test.ts
  src/test/setup.ts
  src/utils/__tests__/parseStringLink.test.ts
  vitest.config.ts
Labels: ts scope, archi

feat: update react
  next-env.d.ts
  next.config.js
  package.json
  pnpm-lock.yaml
  src/Components/Footer.tsx
  src/Components/HeroBannerCarousel.tsx
  src/Components/LanguageSwitch.tsx
  src/Components/Navbar.tsx
  src/Components/SideBar.tsx
  src/Hooks/__tests__/useIsMobile.test.ts
  src/pages/About.tsx
  src/pages/Manuals.tsx
  src/pages/Software.tsx
  src/pages/Training.tsx
  src/pages/articles/[slug].tsx
  src/pages/articles/edit/[slug].tsx
  src/pages/index.tsx
  src/utils/dbConnect.ts
  tsconfig.json
  tsconfig.tsbuildinfo
Labels: ts scope, archi

fix: css
  src/Components/CardHome.tsx
Labels: ts scope

fix: issues with package.json and document imports
  next.config.js
  src/Components/HeroBannerCarousel.tsx
  src/Components/Navbar.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/types/jsx.d.ts
  tsconfig.tsbuildinfo
  types.d.ts
Labels: ts scope, archi

fix: patch ts errors
  package.json
  pnpm-lock.yaml
  src/Components/ArticleForm.tsx
  src/Components/ContactForm.tsx
  src/Components/HeroBannerCarousel.tsx
  src/Components/Input.tsx
  src/Components/Navbar.tsx
  src/Components/PartnersCarousel.tsx
  src/Components/SideBar.tsx
  src/Hooks/useIsMobile.ts
  src/Hooks/useUser.ts
  src/pages/Login.tsx
  src/pages/Manuals.tsx
  src/pages/Product.tsx
  src/pages/Software.tsx
  src/pages/api/articles/[slug].ts
  src/pages/api/articles/index.ts
  src/pages/api/login.ts
  src/pages/api/users/[id].ts
  src/pages/api/users/index.ts
  src/pages/articles/[slug].tsx
  src/pages/articles/edit/[slug].tsx
  src/pages/articles/index.tsx
  src/test/setup.ts
  src/types/jsx.d.ts
  tsconfig.json
  tsconfig.tsbuildinfo
Labels: ts scope, archi

fix: some issues
  src/Components/Input.tsx
  src/Components/Navbar.tsx
  src/Components/PartnersCarousel.tsx
  src/Hooks/useIsMobile.ts
  src/hoc/withIsMobile.tsx
Labels: ts scope

fix: some issues
  src/Components/__tests__/Input.test.tsx
Labels: ts scope

feat: remove deprecated blog/articles feature
  package.json
  pnpm-lock.yaml
  src/Components/ArticleForm.tsx
  src/Components/Navbar.tsx
  src/Components/SideBar.tsx
  src/Hooks/useUser.ts
  src/interfaces/IArticle.ts
  src/interfaces/IDecodedToken.ts
  src/interfaces/IUser.ts
  src/lang/debug.ts
  src/lang/en.ts
  src/lang/fr.ts
  src/middleware/auth.ts
  src/models/Article.ts
  src/models/User.ts
  src/pages/Login.tsx
  src/pages/_app.tsx
  src/pages/api/articles/[slug].ts
  src/pages/api/articles/index.ts
  src/pages/api/login.ts
  src/pages/api/users/[id].ts
  src/pages/api/users/index.ts
  src/pages/articles/[slug].tsx
  src/pages/articles/edit/[slug].tsx
  src/pages/articles/edit/index.tsx
  src/pages/articles/index.tsx
  src/utils/bcrypt.ts
  src/utils/dbConnect.ts
  tsconfig.tsbuildinfo
Labels: ts scope, archi

fix: tests
  src/Components/Input.tsx
Labels: ts scope

fix: tests and types
  .github/workflows/test.yml
  .gitignore
  package.json
  pnpm-lock.yaml
  src/Components/Button.tsx
  src/Components/Input.tsx
  src/Hooks/useIsMobile.ts
  src/test/setup.ts
  tsconfig.tsbuildinfo
Labels: ts scope, archi

chore: remove file from index
  tsconfig.tsbuildinfo
Labels: archi

chore: remove file from index
  .github/workflows/test.yml
  src/Components/Button.tsx
  src/Components/Input.tsx
Labels: ts scope

chore: class component to functional component migration
  src/Components/ContactForm.tsx
  src/Components/Navbar.tsx
  src/Components/SideBar.tsx
Labels: ts scope

chore: added eslint
  .eslintignore
  .eslintrc.js
  .github/workflows/test.yml
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/Components/Book.tsx
  src/Components/Button.tsx
  src/Components/Input.tsx
  src/Components/ItemNavbar.tsx
  src/Components/Navbar.tsx
  src/Components/OpinionHome.tsx
  src/Components/PartnersCarousel.tsx
  src/Components/SquareGrid.tsx
  src/Components/__tests__/Button.test.tsx
  src/Components/__tests__/Input.test.tsx
  src/Hooks/useText.ts
  src/hoc/withIsMobile.tsx
  src/hoc/withText.tsx
  src/lang/en.ts
  src/lang/fr.ts
  src/pages/About.tsx
  src/pages/Books.tsx
  src/pages/Contact.tsx
  src/pages/Product.tsx
  src/pages/Software.tsx
  src/pages/Training.tsx
  src/pages/Videos.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/test/__tests__/integration.test.tsx
  src/types/jsx.d.ts
  src/utils/parseStringLink.ts
Labels: ts scope, archi

test: more coverage
  src/Components/SideBar.tsx
  src/Components/__tests__/ContactForm.test.tsx
  src/Components/__tests__/Navbar.test.tsx
  src/Components/__tests__/SideBar.test.tsx
  vitest.config.ts
Labels: ts scope, archi

chore: fix all ts-ignore comments
  src/Components/ContactForm.tsx
  src/Components/HeroBannerCarousel.tsx
  src/Components/Input.tsx
  src/Components/PartnersCarousel.tsx
  src/Components/SideBar.tsx
  src/Hooks/useIsMobile.ts
  src/pages/Manuals.tsx
  src/pages/Product.tsx
  src/pages/Software.tsx
  src/test/setup.ts
Labels: ts scope

chore: fixed eslint issues
  src/Components/ContactForm.tsx
  src/Components/Footer.tsx
  src/Components/HeroBannerCarousel.tsx
  src/Components/Input.tsx
  src/Components/ItemNavbar.tsx
  src/Components/PartnersCarousel.tsx
  src/Components/SideBar.tsx
  src/Components/__tests__/ContactForm.test.tsx
  src/Components/__tests__/Navbar.test.tsx
  src/Components/__tests__/SideBar.test.tsx
  src/hoc/withIsMobile.tsx
  src/hoc/withText.tsx
  src/pages/Books.tsx
  src/pages/Manuals.tsx
  src/pages/Software.tsx
  src/pages/Videos.tsx
  src/types/jsx.d.ts
Labels: ts scope

chore(app): fix manual page missing semicolon and partner carousel by updating lib
  package.json
  pnpm-lock.yaml
  src/Components/PartnersCarousel.tsx
  src/pages/Manuals.tsx
Labels: ts scope, archi

chore(app): update all packages
  package.json
  pnpm-lock.yaml
Labels: archi

chore(app): few changes for text key to license and some other things
  src/Components/Book.tsx
  src/Components/PartnersCarousel.tsx
  src/lang/debug.ts
  src/lang/en.ts
  src/lang/fr.ts
  src/lang/interface.ts
  src/pages/Product.tsx
Labels: ts scope

chore(app): run autofix lint
  src/Components/ContactForm.tsx
  src/Components/Input.tsx
  src/Components/PartnersCarousel.tsx
  src/Components/__tests__/Navbar.test.tsx
  src/hoc/withIsMobile.tsx
  src/hoc/withText.tsx
  src/pages/Software.tsx
  src/pages/Videos.tsx
Labels: ts scope

chore(app): fix lint errors on jsx.d.ts and modify contact form
  package.json
  pnpm-lock.yaml
  src/Components/ContactForm.tsx
  src/lang/debug.ts
  src/lang/en.ts
  src/lang/fr.ts
  src/lang/interface.ts
  src/styles/globals.css
  src/types/jsx.d.ts
Labels: ts scope, archi

chore(app): fix lint errors on contactform
  src/Components/ContactForm.tsx
Labels: ts scope

chore(app): fix lint errors and tests contactform
  src/Components/ContactForm.tsx
  src/Components/__tests__/ContactForm.test.tsx
Labels: ts scope

chore: few modif texts and images
  public/Folders/catalogue_formation_VNS_v7.pdf
  public/Folders/le_catalogue_de_formation_safe_technologies_v2.2.pdf
  public/Images/ScreenCarousel1.png
  public/Images/ScreenCarousel2.png
  public/Images/ScreenCarousel3.png
  public/Images/ScreenCarousel4.png
  public/Images/logo_partenaires/safe.png
  public/Images/logo_partenaires/safe.webp
  public/Images/logo_partenaires/veolia.webp
  src/Components/PartnersCarousel.tsx
  src/lang/en.ts
  src/lang/fr.ts
  src/pages/Training.tsx
Labels: ts scope

chore: continue modif texts and images
  src/lang/debug.ts
  src/lang/en.ts
  src/lang/fr.ts
  src/lang/interface.ts
  src/pages/Product.tsx
Labels: ts scope

.github/labeler.yml:

test:
  - test/**/*

ts scope:
  - src/**/*

actions:
  - .github/*

archi:
  - ./*
