Repository BHC-IT/dosimex_site, changes with the labels that .github/labeler.yml gives for each.
All labels: test, ts scope, actions, archi

chore: change product page
  src/lang/en.ts
  src/lang/fr.ts
  src/pages/Product.tsx
Labels: ts scope

chore: lint corrections
  src/Components/ContactForm.tsx
  src/Components/__tests__/ContactForm.test.tsx
Labels: ts scope

feat: css
  src/pages/Product.tsx
Labels: ts scope

feat: rework useIsMobile hook to work correctly
  .claude/agents/frontend-code-reviewer.md
  .claude/settings.json
  .claude/settings.local.json
  .envrc
  .eslintignore
  CLAUDE.md
  default.nix
  eslint.config.js
  eslint.config.mjs
  flake.lock
  flake.nix
  src/Components/CardHome.tsx
  src/Components/Input.tsx
  src/Components/Navbar.tsx
  src/Components/__tests__/Input.test.tsx
  src/Components/__tests__/Navbar.test.tsx
  src/Components/__tests__/SideBar.test.tsx
  src/Hooks/__tests__/useIsMobile.test.ts
  src/Hooks/useIsMobile.ts
  src/pages/About.tsx
  src/pages/Contact.tsx
  src/pages/Product.tsx
  src/test/__tests__/integration.test.tsx
  vitest.config.ts
Labels: ts scope, archi

feat: high priority fixes
  .claude/settings.local.json
  CLAUDE.md
  CODE_REVIEW_REPORT.md
  CORRECTION_PLAN.md
  eslint.config.mjs
  src/Components/ContactForm.tsx
  src/Components/ErrorBoundary.tsx
  src/Components/HeroBannerCarousel.tsx
  src/Components/Navbar.tsx
  src/Components/SideBar.tsx
  src/Components/__tests__/ContactForm.test.tsx
  src/Components/__tests__/ErrorBoundary.test.tsx
  src/Components/__tests__/HeroBannerCarousel.test.tsx
  src/Components/__tests__/SideBar.test.tsx
  src/Components/__tests__/__snapshots__/ContactForm.test.tsx.snap
  src/Components/__tests__/__snapshots__/ErrorBoundary.test.tsx.snap
  src/Components/__tests__/__snapshots__/HeroBannerCarousel.test.tsx.snap
  src/Components/__tests__/__snapshots__/SideBar.test.tsx.snap
  src/Hooks/useText.ts
  src/hoc/withText.tsx
  src/lang/interface.ts
  src/pages/__tests__/__snapshots__/_app.test.tsx.snap
  src/pages/__tests__/_app.test.tsx
  src/pages/_app.tsx
Labels: ts scope, archi

feat: rework navbar component
  .claude/settings.local.json
  CORRECTION_PLAN.md
  src/Components/SideBar.tsx
  src/Components/__tests__/SideBar.test.tsx
  src/Components/__tests__/__snapshots__/SideBar.test.tsx.snap
Labels: ts scope, archi

feat: better input component
  CORRECTION_PLAN.md
  src/Components/Input.tsx
Labels: ts scope, archi

feat: better contactForm component
  CORRECTION_PLAN.md
  src/Components/ContactForm.tsx
  src/Components/ContactForm/NameEmailRow.tsx
  src/Components/ContactForm/PhoneEnterpriseRow.tsx
  src/Components/ContactForm/SingleInputs.tsx
  src/Components/ContactForm/SubmitButton.tsx
  src/Components/ContactForm/index.ts
  src/Hooks/useContactFormValidation.ts
Labels: ts scope, archi

feat: remove HOC
  CORRECTION_PLAN.md
  src/Components/ContactForm.tsx
  src/Components/Navbar.tsx
  src/Components/__tests__/ContactForm.test.tsx
  src/Components/__tests__/Navbar.test.tsx
  src/Components/__tests__/__snapshots__/ContactForm.test.tsx.snap
  src/hoc/withIsMobile.tsx
  src/hoc/withText.tsx
Labels: ts scope, archi

feat: remove radium
  CORRECTION_PLAN.md
  package.json
  pnpm-lock.yaml
  src/Components/Book.tsx
  src/Components/Button.tsx
  src/Components/CardHome.tsx
  src/Components/ContactForm.tsx
  src/Components/ContactForm/SubmitButton.tsx
  src/Components/OpinionHome.tsx
  src/Components/PartnersCarousel.tsx
  src/Components/__tests__/Button.test.tsx
  src/Components/__tests__/__snapshots__/ContactForm.test.tsx.snap
  src/pages/About.tsx
Labels: ts scope, archi

chore: added tailwind in planning task
  CORRECTION_PLAN.md
Labels: archi

chore: nodejs 22 for vercel
  vercel.json
Labels: archi

fix: build
  next.config.js
  package.json
  pnpm-lock.yaml
  src/Components/ContactForm.tsx
  src/Components/__tests__/Button.test.tsx
  src/Components/__tests__/ContactForm.test.tsx
  src/Components/__tests__/Navbar.test.tsx
  src/__tests__/__snapshots__/_app.test.tsx.snap
  src/__tests__/_app.test.tsx
Labels: ts scope, archi

chore: better vercel.json
  vercel.json
Labels: archi

chore: remove nodeVersion from vercel.json
  vercel.json
Labels: archi

feat(api): Standardize CSS-in-JS Approach
  .claude/settings.local.json
  CORRECTION_PLAN.md
  src/Components/Book.tsx
  src/Components/CardHome.tsx
  src/Components/ContactForm/PhoneEnterpriseRow.tsx
  src/Components/ContactForm/SubmitButton.tsx
  src/Components/ErrorBoundary.tsx
  src/Components/Footer.tsx
  src/Components/HeroBannerCarousel.tsx
  src/Components/Input.tsx
  src/Components/LanguageSwitch.tsx
  src/Components/Navbar.tsx
  src/Components/OpinionHome.tsx
  src/Components/SideBar.tsx
  src/Components/SquareGrid.tsx
  src/Components/__tests__/Book.test.tsx
  src/Components/__tests__/HeroBannerCarousel.test.tsx
  src/Components/__tests__/OpinionHome.test.tsx
  src/Components/__tests__/SquareGrid.test.tsx
  src/Components/__tests__/__snapshots__/Book.test.tsx.snap
  src/Components/__tests__/__snapshots__/OpinionHome.test.tsx.snap
  src/Components/__tests__/__snapshots__/SquareGrid.test.tsx.snap
  src/pages/About.tsx
  src/pages/Contact.tsx
  src/pages/Manuals.tsx
  src/pages/Product.tsx
  src/pages/Software.tsx
  src/pages/Training.tsx
  src/pages/Videos.tsx
  src/pages/index.tsx
  src/test/setup.ts
  src/types/styling.ts
Labels: ts scope, archi

feat(api): Install and config tailwind
  CORRECTION_PLAN.md
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/styles/globals.css
  tailwind.config.js
Labels: ts scope, archi

feat(app): fix some types and font render
  src/Components/HeroBannerCarousel.tsx
  src/pages/Training.tsx
  src/styles/globals.css
  tailwind.config.js
Labels: ts scope, archi

feat(app): memoization some components
  CORRECTION_PLAN.md
  src/Components/ContactForm.tsx
  src/Components/ContactForm/NameEmailRow.tsx
  src/Components/ContactForm/PhoneEnterpriseRow.tsx
  src/Components/ContactForm/SingleInputs.tsx
  src/Components/ContactForm/SubmitButton.tsx
  src/Components/HeroBannerCarousel.tsx
  src/Components/__tests__/HeroBannerCarousel.test.tsx
Labels: ts scope, archi

feat(app): Optimize Image Loading - Alt texts
  .claude/settings.local.json
  CORRECTION_PLAN.md
  src/Components/CardHome.tsx
  src/Components/Footer.tsx
  src/Components/HeroBannerCarousel.tsx
  src/Components/Navbar.tsx
  src/Components/__tests__/Navbar.test.tsx
  src/Components/__tests__/__snapshots__/HeroBannerCarousel.test.tsx.snap
  src/Components/__tests__/__snapshots__/OpinionHome.test.tsx.snap
  src/lang/debug.ts
  src/lang/en.ts
  src/lang/fr.ts
  src/lang/interface.ts
  src/pages/About.tsx
  src/pages/Manuals.tsx
  src/pages/Training.tsx
  src/pages/index.tsx
Labels: ts scope, archi

feat(app): Bundle Size Optimization
  CORRECTION_PLAN.md
  next.config.js
  package.json
  pnpm-lock.yaml
  src/Components/ContactForm/NameEmailRow.tsx
  src/Components/ContactForm/PhoneEnterpriseRow.tsx
  src/Components/ContactForm/SingleInputs.tsx
  src/Components/ContactForm/SubmitButton.tsx
  src/Components/HeroBannerCarousel.tsx
  src/pages/Training.tsx
  src/pages/index.tsx
  src/types/jsx.d.ts
  src/utils/parseStringLink.ts
Labels: ts scope, archi

feat(app): Fix Critical Accessibility Issues
  CORRECTION_PLAN.md
  src/Components/Button.tsx
  src/Components/CardHome.tsx
  src/Components/ContactForm.tsx
  src/Components/ContactForm/NameEmailRow.tsx
  src/Components/ContactForm/SubmitButton.tsx
  src/Components/ErrorBoundary.tsx
  src/Components/Navbar.tsx
  src/Components/SideBar.tsx
  src/Components/__tests__/ErrorBoundary.test.tsx
  src/Components/__tests__/__snapshots__/ContactForm.test.tsx.snap
  src/Components/__tests__/__snapshots__/ErrorBoundary.test.tsx.snap
  src/Components/__tests__/__snapshots__/SideBar.test.tsx.snap
  src/pages/Manuals.tsx
  src/pages/Software.tsx
  src/styles/globals.css
Labels: ts scope, archi

feat(app):Improve Color Contrast
  CORRECTION_PLAN.md
  src/Components/LanguageSwitch.tsx
  src/pages/Manuals.tsx
  src/pages/Software.tsx
  src/pages/Training.tsx
  src/pages/Videos.tsx
  src/pages/index.tsx
Labels: ts scope, archi

feat(app): Form Accessibility
  src/Components/Input.tsx
  src/Components/__tests__/__snapshots__/ContactForm.test.tsx.snap
Labels: ts scope

feat(app): lint
  CORRECTION_PLAN.md
  src/Components/CardHome.tsx
  src/Components/ContactForm/NameEmailRow.tsx
  src/Components/Footer.tsx
  src/Components/HeroBannerCarousel.tsx
  src/Components/Input.tsx
  src/Components/LanguageSwitch.tsx
  src/Components/PartnersCarousel.tsx
  src/Components/SquareGrid.tsx
  src/pages/About.tsx
  src/pages/Manuals.tsx
  src/pages/Product.tsx
  src/pages/Software.tsx
  src/pages/Training.styles.helper.ts
  src/pages/Training.tsx
  src/pages/Videos.tsx
  src/pages/index.tsx
Labels: ts scope, archi

feat(app): Improve Existing Tests
  .claude/settings.local.json
  CORRECTION_PLAN.md
  src/Components/__tests__/Book.test.tsx
  src/Components/__tests__/HeroBannerCarousel.test.tsx
  src/Components/__tests__/OpinionHome.test.tsx
  src/Components/__tests__/SquareGrid.test.tsx
  src/Components/__tests__/__snapshots__/Book.test.tsx.snap
  src/Components/__tests__/__snapshots__/HeroBannerCarousel.test.tsx.snap
  src/Components/__tests__/__snapshots__/OpinionHome.test.tsx.snap
  src/Components/__tests__/__snapshots__/SquareGrid.test.tsx.snap
Labels: ts scope, archi

feat(app): fix errors herobannercarousel
  src/Components/HeroBannerCarousel.tsx
  src/Components/__tests__/HeroBannerCarousel.test.tsx
Labels: ts scope

feat(app): Add Missing Component Tests - Still missing
  .claude/settings.local.json
  CORRECTION_PLAN.md
  src/Components/__tests__/CardHome-debug.test.tsx
  src/Components/__tests__/CardHome.test.tsx
  src/Components/__tests__/Footer.test.tsx
  src/Components/__tests__/LanguageSwitch.test.tsx
  src/Components/__tests__/__snapshots__/CardHome.test.tsx.snap
  src/Components/__tests__/__snapshots__/Footer.test.tsx.snap
  src/Components/__tests__/__snapshots__/LanguageSwitch.test.tsx.snap
Labels: ts scope, archi

chore: patch lint, build, test and types
  CLAUDE.md
  eslint.config.mjs
  src/Components/CardHome.tsx
  src/Components/ContactForm.tsx
  src/Components/ContactForm/NameEmailRow.tsx
  src/Components/ContactForm/PhoneEnterpriseRow.tsx
  src/Components/ContactForm/SingleInputs.tsx
  src/Components/ContactForm/SubmitButton.tsx
  src/Components/PartnersCarousel.tsx
  src/Components/__tests__/CardHome-debug.test.tsx
  src/Components/__tests__/CardHome.basic.test.tsx
  src/Components/__tests__/CardHome.interactions.test.tsx
  src/Components/__tests__/CardHome.test.tsx
  src/Components/__tests__/ErrorBoundary.test.tsx
  src/Components/__tests__/__snapshots__/CardHome.basic.test.tsx.snap
  src/Hooks/useContactFormValidation.ts
  src/lang/interface.ts
  src/pages/Software.tsx
  src/pages/Training.tsx
  src/pages/Videos.tsx
  src/styled.d.ts
  src/styles/Training.styles.helper.ts
Labels: ts scope, archi

feat(app): Dependency Security Audit
  .babelrc
  .claude/settings.local.json
  CORRECTION_PLAN.md
  SECURITY.md
  next-env.d.ts
  next.config.js
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/Components/__tests__/__snapshots__/HeroBannerCarousel.test.tsx.snap
Labels: ts scope, archi

feat(app): Modif product page - pricing / Texts several pages more efficient
  PRODUCT_PRICING_IMPROVEMENTS.md
  src/lang/debug.ts
  src/lang/en.ts
  src/lang/fr.ts
  src/lang/interface.ts
  src/pages/Product.tsx
  src/styles/globals.css
Labels: ts scope, archi

feat(app): update flags in sofware page, correct lint error, change text to add linux mention
  src/lang/en.ts
  src/lang/fr.ts
  src/pages/Product.tsx
  src/pages/Software.tsx
Labels: ts scope

feat: make few changes on pdf,img manuals + texts
  public/Folders/2_Manuel_Géné_X.pdf
  public/Folders/3_Manuel_Application_15_160.pdf
  public/Folders/Manuel_2_Géné_X_3.0.pdf
  public/Folders/Manuel_3_Application_15_160.pdf
  public/Images/manuel1.png
  public/Images/manuel2.png
  public/Images/manuel3.png
  src/lang/en.ts
  src/lang/fr.ts
  src/pages/Manuals.tsx
Labels: ts scope

feat: add temp reference component in home page
  src/Components/References.tsx
  src/Components/__tests__/References.test.tsx
  src/Components/__tests__/__snapshots__/References.test.tsx.snap
  src/lang/debug.ts
  src/lang/en.ts
  src/lang/fr.ts
  src/lang/interface.ts
  src/pages/index.tsx
Labels: ts scope

feat: update ref section homepage
  .claude/settings.local.json
  PRODUCT_PRICING_IMPROVEMENTS.md
  REFERENCES_SECTION.md
  src/Components/References.tsx
  src/Components/__tests__/References.test.tsx
  src/Components/__tests__/__snapshots__/References.test.tsx.snap
  src/lang/debug.ts
  src/lang/en.ts
  src/lang/fr.ts
  src/lang/interface.ts
  src/pages/Manuals.tsx
Labels: ts scope, archi

feat: add button header for publications
  src/Components/ScrollButton.tsx
  src/lang/debug.ts
  src/lang/en.ts
  src/lang/fr.ts
  src/lang/interface.ts
  src/pages/index.tsx
Labels: ts scope

feat: add second price product page
  src/lang/debug.ts
  src/lang/en.ts
  src/lang/fr.ts
  src/lang/interface.ts
  src/pages/Product.tsx
Labels: ts scope

feat: fix lint
  src/pages/Product.tsx
Labels: ts scope

claude
  .claude/agents/code-reviewer/AGENT.md
  .claude/agents/debug-investigator/AGENT.md
  .claude/agents/react-architect/AGENT.md
  .claude/agents/refactorer/AGENT.md
  .claude/agents/test-strategist/AGENT.md
  .claude/agents/typescript-expert/AGENT.md
  .claude/hooks/block-dangerous-commands.sh
  .claude/hooks/memory-loader.sh
  .claude/memory/index.yaml
  .claude/memory/topics/.gitkeep
  .claude/settings.local.json
  .claude/skills/blueprint/SKILL.md
  .claude/skills/brainstorm/SKILL.md
  .claude/skills/commit/SKILL.md
  .claude/skills/create-issue/SKILL.md
  .claude/skills/create-mr/SKILL.md
  .claude/skills/fetch-issue/SKILL.md
  .claude/skills/forget/SKILL.md
  .claude/skills/plan-run/SKILL.md
  .claude/skills/recall/SKILL.md
  .claude/skills/remember/SKILL.md
  .claude/skills/until/SKILL.md
  CLAUDE.md
Labels: archi

Fix React Server Components CVE vulnerabilities
  package.json
  pnpm-lock.yaml
Labels: archi

.github/labeler.yml:

test:
  - test/**/*

ts scope:
  - src/**/*

actions:
  - .github/*

archi:
  - ./*
