Repository BHC-IT/dosimex_site, changes with the labels that .github/labeler.yml gives for each.
All labels: test, ts scope, actions, archi

.github/labeler.yml:

test:
  - test/**/*

ts scope:
  - src/**/*

actions:
  - .github/*

archi:
  - ./*

chore: memory
  .claude/memory/index.yaml
Labels: none

Fix React Server Components CVE vulnerabilities
  package.json
  pnpm-lock.yaml
Labels: archi

feat(i18n): add ExternalLinkButton component and Dosismart translations
  src/Components/ExternalLinkButton.tsx
  src/lang/debug.ts
  src/lang/en.ts
  src/lang/fr.ts
  src/lang/interface.ts
Labels: ts scope

feat(navbar): replace CTA with external Dosismart trial link
  src/Components/Navbar.tsx
  src/Components/SideBar.tsx
  src/Components/__tests__/Navbar.test.tsx
  src/Components/__tests__/SideBar.test.tsx
  src/Components/__tests__/__snapshots__/SideBar.test.tsx.snap
Labels: ts scope

feat(home): add dual CTA with free trial and quote buttons
  src/pages/index.tsx
Labels: ts scope

feat(product): add Dosismart trial banner before pricing section
  src/pages/Product.tsx
Labels: ts scope

feat(software): add Dosismart announcement banner after header
  src/pages/Software.tsx
Labels: ts scope

feat(contact): add contextual header with quote/demo messaging
  src/pages/Contact.tsx
Labels: ts scope

feat(footer): add Dosismart external link to resources column
  src/Components/Footer.tsx
  src/Components/__tests__/Footer.test.tsx
  src/Components/__tests__/__snapshots__/Footer.test.tsx.snap
Labels: ts scope

chore(test): regenerate snapshots and remove obsolete entries
  src/Components/__tests__/__snapshots__/Book.test.tsx.snap
  src/Components/__tests__/__snapshots__/CardHome.test.tsx.snap
  src/Components/__tests__/__snapshots__/OpinionHome.test.tsx.snap
  src/Components/__tests__/__snapshots__/SquareGrid.test.tsx.snap
Labels: ts scope

feat(navbar): add quote button alongside free trial CTA
  src/Components/Navbar.tsx
  src/Components/SideBar.tsx
  src/Components/__tests__/Navbar.test.tsx
  src/Components/__tests__/SideBar.test.tsx
  src/Components/__tests__/__snapshots__/SideBar.test.tsx.snap
  src/lang/debug.ts
  src/lang/en.ts
  src/lang/fr.ts
  src/lang/interface.ts
Labels: ts scope

feat(home): polish hero section and improve CTA placement
  src/pages/Software.tsx
  src/pages/index.tsx
Labels: ts scope

chore: add .envrc to gitignore to prevent leaking secrets
  .gitignore
Labels: archi

style(contact): reformat useContactFormValidation to spaces
  src/Hooks/useContactFormValidation.ts
Labels: ts scope

chore: add claude skills, plans, and memory files
  .claude/memory/topics/product-naming.md
  .claude/plans/dosismart-launch-refresh.yaml
  .claude/skills/market-research/SKILL.md
  .claude/skills/site-audit/SKILL.md
Labels: none

feat(astro): port full site to Astro with all 9 pages in FR and EN
  .gitignore
  astro/astro.config.mjs
  astro/package.json
  astro/pnpm-lock.yaml
  astro/src/components/ContactForm.tsx
  astro/src/components/Footer.astro
  astro/src/components/MobileMenu.tsx
  astro/src/components/Navbar.astro
  astro/src/components/ThemeToggle.astro
  astro/src/components/VideoEmbed.astro
  astro/src/data/videos.ts
  astro/src/i18n/en.ts
  astro/src/i18n/fr.ts
  astro/src/i18n/utils.ts
  astro/src/layouts/Layout.astro
  astro/src/pages/about.astro
  astro/src/pages/books.astro
  astro/src/pages/contact.astro
  astro/src/pages/en/about.astro
  astro/src/pages/en/books.astro
  astro/src/pages/en/contact.astro
  astro/src/pages/en/index.astro
  astro/src/pages/en/manuals.astro
  astro/src/pages/en/product.astro
  astro/src/pages/en/software.astro
  astro/src/pages/en/training.astro
  astro/src/pages/en/videos.astro
  astro/src/pages/index.astro
  astro/src/pages/manuals.astro
  astro/src/pages/product.astro
  astro/src/pages/software.astro
  astro/src/pages/training.astro
  astro/src/pages/videos.astro
  astro/src/styles/global.css
  astro/tsconfig.json
  eslint.config.mjs
  package.json
  tsconfig.json
Labels: archi

fix(product): replace contact form placeholder with ContactForm island
  astro/src/pages/en/product.astro
  astro/src/pages/product.astro
Labels: none

chore(astro): add Vercel adapter for branch-based deployment
  .gitignore
  astro/astro.config.mjs
  astro/package.json
  astro/pnpm-lock.yaml
  astro/public
  vercel.json
Labels: archi

fix(vercel): copy build output to root for Build Output API
  vercel.json
Labels: archi

fix(vercel): fix build output copy path for subdirectory build
  vercel.json
Labels: archi

perf(astro): improve Lighthouse score with font, island, and image fixes
  .gitignore
  astro/src/components/Navbar.astro
  astro/src/layouts/Layout.astro
  astro/src/pages/about.astro
  astro/src/pages/contact.astro
  astro/src/pages/en/about.astro
  astro/src/pages/en/contact.astro
  astro/src/pages/en/index.astro
  astro/src/pages/en/product.astro
  astro/src/pages/index.astro
  astro/src/pages/product.astro
Labels: archi

feat(astro): add SEO infrastructure — sitemap, meta tags, structured data
  astro/astro.config.mjs
  astro/package.json
  astro/pnpm-lock.yaml
  astro/src/components/BaseHead.astro
  astro/src/components/Navbar.astro
  astro/src/data/schemas.ts
  astro/src/data/videos.ts
  astro/src/i18n/en.ts
  astro/src/i18n/fr.ts
  astro/src/i18n/utils.ts
  astro/src/layouts/Layout.astro
  astro/src/pages/about.astro
  astro/src/pages/books.astro
  astro/src/pages/contact.astro
  astro/src/pages/en/about.astro
  astro/src/pages/en/books.astro
  astro/src/pages/en/contact.astro
  astro/src/pages/en/index.astro
  astro/src/pages/en/manuals.astro
  astro/src/pages/en/product.astro
  astro/src/pages/en/software.astro
  astro/src/pages/en/training.astro
  astro/src/pages/en/videos.astro
  astro/src/pages/index.astro
  astro/src/pages/manuals.astro
  astro/src/pages/product.astro
  astro/src/pages/software.astro
  astro/src/pages/training.astro
  astro/src/pages/videos.astro
  public/og-default.png
  public/robots.txt
Labels: none

fix(astro): resolve PageSpeed best practices — cookies, hydration, security headers
  astro/src/components/MobileMenu.tsx
  astro/src/components/VideoEmbed.astro
  vercel.json
Labels: archi

fix(a11y): improve color contrast to meet WCAG AA requirements
  astro/src/pages/en/index.astro
  astro/src/pages/index.astro
  astro/src/styles/global.css
Labels: none

feat(security): add nonce-based CSP and YouTube click-to-play facade
  astro/astro.config.mjs
  astro/package.json
  astro/pnpm-lock.yaml
  astro/src/components/VideoEmbed.astro
  astro/src/middleware.ts
  vercel.json
Labels: archi

fix(csp): replace inline event handlers with nonced scripts
  astro/src/components/ThemeToggle.astro
  astro/src/layouts/Layout.astro
Labels: none

fix: serve logo at full resolution and allow data: fonts in CSP
  astro/src/components/Navbar.astro
  vercel.json
Labels: archi

refactor(i18n): replace duplicated locale pages with dynamic [...locale] route
  astro/src/i18n/en.ts
  astro/src/i18n/fr.ts
  astro/src/i18n/utils.ts
  astro/src/pages/[...locale]/about.astro
  astro/src/pages/[...locale]/books.astro
  astro/src/pages/[...locale]/contact.astro
  astro/src/pages/[...locale]/index.astro
  astro/src/pages/[...locale]/manuals.astro
  astro/src/pages/[...locale]/product.astro
  astro/src/pages/[...locale]/software.astro
  astro/src/pages/[...locale]/training.astro
  astro/src/pages/[...locale]/videos.astro
  astro/src/pages/contact.astro
  astro/src/pages/en/about.astro
  astro/src/pages/en/books.astro
  astro/src/pages/en/product.astro
  astro/src/pages/en/videos.astro
  astro/src/pages/index.astro
  astro/src/pages/manuals.astro
  astro/src/pages/software.astro
  astro/src/pages/training.astro
Labels: none

fix(a11y): associate label with phone input for screen readers
  astro/src/components/ContactForm.tsx
Labels: none

fix(seo): optimize title/description lengths, add image alts and llms.txt
  astro/src/i18n/en.ts
  astro/src/i18n/fr.ts
  astro/src/pages/[...locale]/index.astro
  public/llms.txt
Labels: none

feat(analytics): add PostHog tracking with GDPR cookie consent
  astro/package.json
  astro/pnpm-lock.yaml
  astro/src/components/ContactForm.tsx
  astro/src/components/CookieConsent.astro
  astro/src/components/Footer.astro
  astro/src/components/MobileMenu.tsx
  astro/src/components/Navbar.astro
  astro/src/components/VideoEmbed.astro
  astro/src/i18n/en.ts
  astro/src/i18n/fr.ts
  astro/src/layouts/Layout.astro
  astro/src/pages/[...locale]/index.astro
  astro/src/pages/[...locale]/product.astro
  astro/src/pages/[...locale]/software.astro
  astro/src/pages/[...locale]/training.astro
  astro/src/pages/[...locale]/videos.astro
  astro/src/scripts/tracking.ts
  vercel.json
Labels: archi

chore: add .env to gitignore to prevent credential leaks
  .gitignore
Labels: archi

style(astro): clean up landing, product, and about page visuals
  astro/src/layouts/Layout.astro
  astro/src/pages/[...locale]/about.astro
  astro/src/pages/[...locale]/index.astro
  astro/src/pages/[...locale]/product.astro
Labels: none

fix(config): remove invalid images.qualities from next.config.js
  next-env.d.ts
  next.config.js
  src/Components/__tests__/__snapshots__/HeroBannerCarousel.test.tsx.snap
Labels: ts scope, archi

docs: add market research, copy review, and design vision documents
  copy-review-fr.md
  design-recommendations.md
  market-research-website-design.md
Labels: archi

feat(astro): rebuild site with new design system
  astro/package.json
  astro/pnpm-lock.yaml
  astro/src/components/BaseHead.astro
  astro/src/components/ContactForm.tsx
  astro/src/components/CookieConsent.astro
  astro/src/components/Footer.astro
  astro/src/components/MobileMenu.tsx
  astro/src/components/Navbar.astro
  astro/src/components/StatsCounter.astro
  astro/src/components/ThemeToggle.astro
  astro/src/components/VideoEmbed.astro
  astro/src/i18n/en.ts
  astro/src/i18n/fr.ts
  astro/src/layouts/Layout.astro
  astro/src/pages/[...locale]/about.astro
  astro/src/pages/[...locale]/books.astro
  astro/src/pages/[...locale]/contact.astro
  astro/src/pages/[...locale]/index.astro
  astro/src/pages/[...locale]/manuals.astro
  astro/src/pages/[...locale]/product.astro
  astro/src/pages/[...locale]/software.astro
  astro/src/pages/[...locale]/training.astro
  astro/src/pages/[...locale]/videos.astro
  astro/src/styles/global.css
Labels: none

fix(astro): crop hero image and fix class-based dark mode
  astro/src/assets/images/home_header_carousel.png
  astro/src/layouts/Layout.astro
  astro/src/pages/[...locale]/index.astro
  astro/src/styles/global.css
Labels: none

feat(astro): improve Dosismart representation and add hero carousel
  astro/src/components/HeroCarousel.astro
  astro/src/components/ImageLightbox.astro
  astro/src/i18n/en.ts
  astro/src/i18n/fr.ts
  astro/src/layouts/Layout.astro
  astro/src/pages/[...locale]/contact.astro
  astro/src/pages/[...locale]/index.astro
  public/Images/dosismart-screenshot.png
Labels: none

perf(images): optimize carousel for LCP, CLS, and image delivery
  astro/src/components/HeroCarousel.astro
  astro/src/pages/[...locale]/index.astro
  public/Images/ScreenCarousel1.webp
  public/Images/ScreenCarousel2.webp
  public/Images/ScreenCarousel3.webp
  public/Images/ScreenCarousel4.webp
  public/Images/dosismart-screenshot.webp
Labels: none

perf: add responsive srcset and defer mobile-only JS
  astro/src/components/HeroCarousel.astro
  astro/src/components/Navbar.astro
  astro/src/pages/[...locale]/index.astro
  public/Images/ScreenCarousel1-sm.webp
  public/Images/ScreenCarousel2-sm.webp
  public/Images/ScreenCarousel3-sm.webp
  public/Images/ScreenCarousel4-sm.webp
  public/Images/dosismart-screenshot-sm.webp
Labels: none
